<%= partial "partials/orbit" %>

<div class="row">
  <div class="medium-7 small-12 columns">
    <% blog.articles[0...5].each do |article| %>
      <div class="blog-post">
        <h3>
          <a href="<%= article.url %>"><%= article.title %></a>
        </h3>
        <%= article.summary %>
        <p><a href="<%= article.url %>">Read more</a></p>
      </div>
    <% end %>
  </div>
  <aside class="medium-4 offset-1 small-12 columns">
    <div class="timetable">
      <h3>Today's Classes</h3>
      <ul>
        <li class="everyone"><a href="#">Development Karate @ 6pm</a></li>
        <li class="childrens"><a href="#">Childrens Fighting Fit @ 7pm</a></li>
        <li class="adults"><a href="#">Adult Fight Club @ 8pm</a></li>
      </ul>
    </div>
  </aside>
</div>
