---
layout: "news"
title: "Our Instructors"
blog: "news"
---

<% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
  <h2><%= year %></h2>
  <% articles.group_by {|a| a.date.month}.each do |month, articles| %>
    <h5><%= Date::MONTHNAMES[month] %></h5>
      <ul>
        <% articles.each do |article| %>
          <li><a href="<%= article.url %>"><%= article.date.strftime('%d/%m') %> - <%= article.title %></a></li>
        <% end %>
      </ul>
      <hr>
  <% end %>
<% end %>
